{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<style>
    .container {
        background-color: burlywood;
    }

    .border {
        border: 2px solid black;
        border-radius: 4px;
    }
</style>
<div class="container">
    {%if comment_list %}
    <div class="row">

        {% for comment in comment_list %}

        <div class="col-md-6 border">
            <h3>{{comment.comment}}</h3>
            <h5>-By {{comment.user.username}}</h5>
            <a href="/delete_comment/{{comment.id}}">Delete comment</a>
        </div>

        {% endfor %}
    </div>
    {%else%}
    <h1>No comments</h1>
    {% endif %}
</div>

{% endblock %}