{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{% block content %}
<style>
    .container {
        background-color: mintcream;
    }

    .border {
        border: 2px solid black;
        border-radius: 3px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 border">
            <h2>QUOTE:{{quote.quote}}</h2>
            <h4> _By {{quote.author}}</h4>
        </div>
    </div>
    <br>
    <br>
    <div class="border">
        {{ macro.display(blogs) }}
    </div>
</div>

{% endblock %}